// Variables
@use "../variables/colors";
@use "../variables/fonts";

// Common components
@use "../common/header";
@use "../common/footer";
@use "../common/media-queries";
@use "../common/mixin";

section.hero {
    @include mixin.flex(flex, column-reverse, flex-start, 0);

    .hero-content {
        position: absolute;
        @include mixin.flex(flex, column, flex-start, 1.5rem);
        margin: 1rem;

        a {
            color: colors.$blue;
            text-decoration: underline;
        }

        .hero-text {
            background-color: colors.$base-white-opacity;
            color: colors.$blue;
            padding: 2rem;
            border-radius: 1rem;
            // z-index: 1;

            h1 {
                font-size: 2rem;
                margin-bottom: 1.5rem;
            }

            p {
                margin-bottom: 1rem;
            }
        }

        .hero-buttons {
            // margin-top: 2rem;
            @include mixin.flex(flex, column, flex-start, 1.5rem);

            .button {
                @include mixin.button(
                    colors.$blue,
                    colors.$blue,
                    colors.$base-white
                );
            }
        }
    }

    img {
        width: 100%;
        height: 80vh;
        object-fit: cover;
        object-position: center bottom;
        overflow: hidden;
    }

    @include media-queries.breakpoint(tablet) {
        position: relative;
        // top: 5rem;
        height: 80vh;

        img {
            object-position: top;
            object-fit: cover;
        }

        .hero-content {
            background-color: transparent;
            // position: absolute;
            max-width: 40rem;
            bottom: 2rem;
            left: 2rem;
            padding: 2rem;
            margin: 0;

            .hero-text {
                h1 {
                    font-size: fonts.$h1;
                    margin-bottom: 1.25rem;
                }

                p {
                    margin-bottom: 1rem;
                    max-width: 80%;
                }
            }

            .hero-buttons {
                flex-direction: row;

                .button {
                    width: 50%;
                }
            }
        }
    }

    @include media-queries.breakpoint(desktop) {
    }
}

section.two-card {
    @include mixin.flex(flex, column, flex-start, 3rem);
    padding: 2rem 1.5rem 0rem 1.5rem;

    .option {
        font-size: fonts.$h2;
        color: colors.$blue;
        box-shadow: 8px 8px 2px rgba(0, 0, 0, 0.25);
        border: 0.5px solid colors.$black;
        background-color: colors.$white;
        padding: 1.5rem;
        border-radius: 0.5rem;
        width: 100%;
        height: 27rem;

        @include mixin.flex(flex, column, space-between, 0);
        // display: flex;
        // flex-direction: column;
        align-items: center;

        a.button {
            width: 100%;
            @include mixin.button(
                colors.$blue,
                colors.$blue,
                colors.$base-white
            );
        }

        img {
            width: 16rem;
            height: 16rem;
        }
    }

    @include media-queries.breakpoint(tablet) {
        @include mixin.flex(flex, row, flex-start, 3rem);
        padding: 10rem 4rem 0rem 4rem;

        .option {
            width: 50%;
            height: 40rem;

            img {
                width: 23rem;
                height: 23rem;
            }

            a.button {
                width: 80%;
            }
        }
    }

    @include media-queries.breakpoint(desktop) {
        .option {
            a.button {
                width: 40%;
            }
        }
    }
}

section.four-card {
    padding: 1rem;

    h1 {
        font-size: fonts.$h2;
        color: colors.$base-white;
        margin-bottom: 1.5rem;
    }
    .option-container {
        @include mixin.flex(flex, column, flex-start, 1rem);

        .option {
            background-color: colors.$blue;
            padding: 1.5rem;
            border-radius: 0.5rem;
            height: 20rem;
            width: 100%;

            h2,
            p {
                margin-top: 1rem;
                color: colors.$base-white;
            }
        }
    }

    @include media-queries.breakpoint(tablet) {
        padding: 4rem;

        h1 {
            font-size: fonts.$h1;
            margin-bottom: 3rem;
        }

        .option-container {
            @include mixin.flex(flex, row, flex-start, 3rem);

            .option {
                color: colors.$base-white;
                padding: 1.5rem;
                width: 25%;
            }
        }
    }
}

section.update-profile-card {
    padding: 1rem;

    .update-container {
        @include mixin.flex(flex, column, flex-start, 0);
        background-color: colors.$blue;
        color: colors.$white;
        border-radius: 0.5rem;
        overflow: hidden;
        height: 40rem;

        .update-image,
        .update-text {
            height: 50%;
        }

        .update-image {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .update-text {
            @include mixin.flex(flex, column, flex-start, 0);
            padding: 1.5rem;

            h3 {
                font-size: fonts.$h2;
                margin-bottom: 1rem;
            }

            button {
                background-color: colors.$white;
                border-style: none;
                padding: 1rem 1.25rem;
                border-radius: 0.5rem;
                cursor: pointer;
                width: 100%;
                margin-top: 1.5rem;
            }
        }
    }
    @include media-queries.breakpoint(tablet) {
        padding: 4rem;
        .update-container {
            @include mixin.flex(flex, row, flex-start, 0);
            height: 40rem;

            .update-image,
            .update-text {
                width: 50%;
                height: 100%;
            }

            .update-text {
                @include mixin.flex(flex, column, center, 0);
                padding: 4rem;

                button {
                    width: 33%;
                }
            }
        }
    }
}

section.review-cards {
    padding: 2.5rem;

    h1 {
        font-size: fonts.$h2;
        margin-bottom: 1.5rem;
    }

    .review-container {
        @include mixin.flex(flex, column, flex-start, 1rem);
        padding-bottom: 10rem;

        .review {
            background-color: colors.$white;
            position: relative;
            border-radius: 0.5rem;

            width: 100%;
            // height: 33rem;

            .user-card {
                position: absolute;
                top: -1rem;
                left: -1rem;
                overflow: hidden;
                height: 10rem;
                width: 10rem;

                .user-info {
                    width: 100%;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 0.5rem;
                }
            }

            .user-info.yellow {
                background-color: colors.$yellow;
            }
            .user-info.mint {
                background-color: colors.$mint;
            }
            .user-info.red {
                background-color: colors.$red;
            }

            .user-info.purple {
                background-color: colors.$purple;
            }

            .user-info {
                // height: 40%;
                border-top-left-radius: 0.5rem;
                border-top-right-radius: 0.5rem;
                // background-color: transparent;
                border-bottom: 1px solid colors.$blue;

                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-end;
                gap: 1rem;
                padding: 2.5rem 1rem;

                .name,
                .status {
                    width: 50%;
                    border-radius: 1.5rem;
                    background-color: colors.$blue;

                    padding: 0.5rem 1rem;

                    h2 {
                        font-size: fonts.$p;
                        color: colors.$white;
                        text-align: center;
                    }
                }
            }
            .user-content {
                // height: 60%;
                padding: 1rem;

                .review-star {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    padding: 1.5rem 0;
                }

                .review-text {
                    h2 {
                        font-size: fonts.$h2;
                    }

                    p {
                        font-size: fonts.$p;
                        text-align: left;
                        line-height: 1.25;
                    }
                    .button {
                        margin-top: 2rem;
                        display: block;
                        @include mixin.button(
                            colors.$blue,
                            colors.$blue,
                            colors.$base-white
                        );
                    }
                }
            }
        }

        .review-quote {
            font-size: 1rem;
        }

        p {
            margin-top: 0.5rem;
            font-size: 1.2rem;
            text-align: center;
        }
    }

    @include media-queries.breakpoint(tablet) {
        padding: 4rem;

        h1 {
            font-size: fonts.$h1;
            margin-bottom: 3rem;
        }

        .review-container {
            @include mixin.flex(flex, row, center, 2.5rem);

            .review {
                // height: 30rem;
                width: 22%;
            }
        }
    }
}
