// Variables
@use "../variables/colors";
@use "../variables/fonts";

// Common components
@use "../common/header";
@use "../common/footer";
@use "../common/media-queries";
@use "../common/mixin";

section.preview-intro {
    margin-top: 2rem;
    background-color: colors.$blue;
    padding: 1.5rem;

    h2 {
        text-align: center;
        color: colors.$base-white;
    }

    @include media-queries.breakpoint(tablet) {
        margin-top: 5rem;

        h2 {
            text-align: center;
            color: colors.$base-white;
        }
    }
}

section.preview-ad-card {
    padding: 1rem;

    .preview-container {
        @include mixin.flex(flex, column, flex-start, 0);
        background-color: colors.$base-white;
        box-shadow: 8px 8px 40px rgba(0, 0, 0, 0.15);
        color: colors.$blue;
        border-radius: 0.5rem;
        overflow: hidden;
        height: 55rem;

        hr {
            margin-top: 0.5rem;
            margin-bottom: 1rem;
            border: 1px solid;
            width: 20rem;
        }

        /*     .preview-image,
        .preview-text {
            height: 50%;
            height: 65%;
        } */

        .preview-image {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .preview-text {
            @include mixin.flex(flex, column, flex-start, 0);
            padding-left: 1.5rem;

            padding-right: 4rem;
            margin-top: 3rem;

            h2 {
                font-size: fonts.$h3;
                margin-bottom: 1.2rem;
            }

            h3 {
                font-size: fonts.$h4;
                margin-bottom: 1.2rem;
            }

            p {
                font-size: fonts.$p;
                line-height: 1.5;
            }

            .details-container {
                display: flex;
                flex-direction: row;
                gap: 1rem;
            }
            .tag-container {
                gap: 0.5rem;
                .tags {
                    background-color: colors.$white;
                    font-size: fonts.$p;
                    border-style: solid;
                    padding: 0.6rem 0.5rem;
                    border-color: colors.$blue;
                    border-radius: 1.2rem;
                    /*      cursor: pointer; */
                    margin-top: 1.5rem;
                }
            }

            .ad-icons {
                margin-top: 1rem;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;

                svg {
                    fill: colors.$blue;
                    height: 3rem;
                }
            }
        }
    }
    @include media-queries.breakpoint(tablet) {
        padding: 4rem;

        hr {
            display: none;
        }

        .preview-container {
            @include mixin.flex(flex, row, flex-start, 0);
            height: 40rem;

            .preview-image,
            .preview-text {
                width: 50%;
                height: 100%;
            }

            .preview-text {
                @include mixin.flex(flex, column, center, 0);
                padding-left: 4rem;
                margin-top: -4rem;

                h3 {
                    font-size: fonts.$h4;
                    margin-top: 1.2rem;
                }
            }
        }
    }
}
