header {
  position: fixed;
  width: 100%;
  height: 5rem;
  padding: 2rem 3rem;
  background-color: #fff;
}
header nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0;
}
header nav .nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 3rem;
}

section.hero {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  gap: 0;
}
section.hero .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
  margin: 1.5rem 1rem;
}
section.hero .hero-content a {
  text-decoration: underline;
}
section.hero .hero-content .hero-text {
  background-color: #c4c4c4;
  padding: 2rem;
  border-radius: 1rem;
}
section.hero .hero-content .hero-text h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
section.hero .hero-content .hero-text p {
  margin-bottom: 1rem;
}
section.hero .hero-content .hero-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
}
section.hero .hero-content .hero-buttons button {
  background-color: #c4c4c4;
  border-style: none;
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.125rem;
}
section.hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
  overflow: hidden;
}
section.hero .hero-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
section.hero .hero-buttons button {
  background-color: white;
  border-style: none;
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  section.hero {
    position: relative;
    top: 5rem;
    height: 80vh;
  }
  section.hero .hero-content {
    background-color: transparent;
    position: absolute;
    max-width: 40rem;
    bottom: 2rem;
    left: 2rem;
    padding: 2rem;
    margin: 0;
  }
  section.hero .hero-content .hero-text {
    background-color: #fff;
  }
  section.hero .hero-content .hero-text h1 {
    font-size: 3rem;
    margin-bottom: 1.25rem;
  }
  section.hero .hero-content .hero-text p {
    margin-bottom: 1rem;
    max-width: 80%;
  }
  section.hero .hero-content .hero-buttons {
    flex-direction: row;
  }
  section.hero .hero-content .hero-buttons button {
    width: 50%;
    background-color: #fff;
    transition: all 0.2s;
  }
  section.hero .hero-content .hero-buttons button:hover {
    background-color: #c4c4c4;
  }
}
section.two-card {
  /*    display: flex;
  flex-direction: row;
  gap: 3rem; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 3rem;
  padding: 10rem 4rem 0rem 4rem;
}
section.two-card .option {
  font-size: 1.5rem;
  background-color: #c4c4c4;
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  width: 60%;
  height: 40rem;
}
section.two-card button {
  background-color: white;
  border-style: none;
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

section.four-card {
  padding: 1rem;
}
section.four-card h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
section.four-card .option-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}
section.four-card .option-container .option {
  background-color: #c4c4c4;
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  height: 30rem;
  width: 100%;
}
section.four-card .option-container .option p {
  margin-top: 1rem;
}
@media only screen and (min-width: 1335px) {
  section.four-card {
    padding: 4rem;
  }
  section.four-card h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  section.four-card .option-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3rem;
  }
  section.four-card .option-container .option {
    background-color: #c4c4c4;
    padding: 1rem 1.25rem;
    width: 25%;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: sans-serif;
}

body {
  background-color: #fff;
  color: #000;
}
body main {
  padding-top: 5rem;
}
body a {
  color: #000;
}
body a:hover {
  text-decoration: underline;
}
