header {
  position: fixed;
  z-index: 1;
  width: 100%;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.04);
}
header nav {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0;
  align-items: center;
  background-color: #37455d;
}
header nav .logo {
  color: #fff;
  padding: 1.5rem 0 1.5rem 1.5rem;
}
header nav .hamburger {
  padding: 1.5rem 1.5rem 1.5rem 0;
}
header nav .hamburger svg {
  stroke: #f9fafb;
  width: 1.5em;
}
header nav .nav-menu {
  display: none;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  align-items: center;
}
header nav .nav-menu .nav-items {
  color: #fff;
}
header nav .nav-menu .search {
  display: none;
}
header nav .login-container {
  display: none;
}
@media only screen and (min-width: 1100px) {
  header nav {
    position: relative;
  }
  header nav .hamburger {
    display: none;
  }
  header nav .logo {
    padding: 1.5rem 0 1.5rem 4rem;
  }
  header nav .nav {
    position: relative;
    display: flex;
    flex-direction: row;
  }
  header nav .nav .nav-menu {
    margin-right: 12rem;
    padding: 2rem 3rem;
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0;
  }
  header nav .nav .nav-menu .link {
    padding: 1rem 2rem;
    border-left: 1px solid #7ae7c7;
  }
  header nav .nav .nav-menu .link-last {
    padding: 1rem 2rem;
    margin-right: 2rem;
    border-left: 1px solid #7ae7c7;
    border-right: 1px solid #7ae7c7;
  }
  header nav .nav .nav-menu .search {
    display: block;
    width: 16rem;
  }
  header nav .nav .nav-menu .search input {
    background-image: url(/images/search.svg?ed282d8c868df0e57fbf326063245375);
    background-repeat: no-repeat;
    background-position: right 5% center;
    background-size: 1.5rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
  }
  header nav .nav .login-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 12rem;
    height: 9rem;
    background-color: #d9e6fb;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
  }
  header .link-user {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 1rem 2rem;
    margin-left: 2rem;
    height: 120px;
    background-color: #d9e6fb;
  }
  header .link-user a {
    display: block;
    margin: 2rem 0;
  }
}

section.footer {
  padding-top: 2rem;
  background-color: #37455d;
  color: #f9fafb;
  display: flex;
  justify-content: center;
}
section.footer h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
section.footer a {
  color: #f9fafb;
}
section.footer .footer-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}
section.footer .footer-container .footer-start {
  width: 20rem;
}
section.footer .footer-container .footer-start .socials {
  margin-top: 4rem;
  width: 70%;
  display: flex;
  justify-content: space-between;
}
section.footer .footer-container .footer-start .socials svg {
  fill: #f9fafb;
}
section.footer .footer-container .footer-option {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}
section.footer .footer-container .footer-option h4 {
  margin-bottom: 1rem;
}
section.footer .footer-container .footer-option p {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  section.footer {
    padding: 3rem;
  }
  section.footer .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3rem;
  }
  section.footer .footer-container .socials {
    row-gap: 2rem;
  }
  section.footer .footer-container h4 {
    margin-bottom: 2rem;
  }
  section.footer .footer-container .footer-option {
    gap: 1.5rem;
  }
  section.footer .vl {
    border-left: 1px solid #f9fafb;
    height: 20rem;
  }
}

section.hero {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  gap: 0;
}
section.hero .hero-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
  margin: 1rem;
}
section.hero .hero-content a {
  color: #37455d;
  text-decoration: underline;
}
section.hero .hero-content .hero-text {
  background-color: #f9fafbeb;
  color: #37455d;
  padding: 2rem;
  border-radius: 1rem;
}
section.hero .hero-content .hero-text h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
section.hero .hero-content .hero-text p {
  margin-bottom: 1rem;
}
section.hero .hero-content .hero-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
}
section.hero .hero-content .hero-buttons .button {
  background-color: #37455d;
  color: #f9fafb;
  border-style: none;
  padding: 1.25rem 1.5rem;
  border-radius: 1.25rem;
  text-decoration: none;
  font-size: 1.125rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.15s;
}
section.hero .hero-content .hero-buttons .button:hover {
  background-color: #37455d;
}
section.hero img {
  width: 100%;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  section.hero {
    position: relative;
    height: 80vh;
  }
  section.hero img {
    -o-object-position: top;
       object-position: top;
    -o-object-fit: cover;
       object-fit: cover;
  }
  section.hero .hero-content {
    background-color: transparent;
    max-width: 40rem;
    bottom: 2rem;
    left: 2rem;
    padding: 2rem;
    margin: 0;
  }
  section.hero .hero-content .hero-text h1 {
    font-size: 3rem;
    margin-bottom: 1.25rem;
  }
  section.hero .hero-content .hero-text p {
    margin-bottom: 1rem;
    max-width: 80%;
  }
  section.hero .hero-content .hero-buttons {
    flex-direction: row;
  }
  section.hero .hero-content .hero-buttons .button {
    width: 50%;
  }
}
section.two-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
  padding: 2rem 1.5rem;
}
section.two-card .option {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0;
  font-size: 1.5rem;
  color: #37455d;
  box-shadow: 8px 8px 40px rgba(0, 0, 0, 0.15);
  border: 0.5px solid #000;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 0.5rem;
  width: 100%;
  height: 27rem;
  align-items: center;
}
section.two-card .option a.button {
  width: 100%;
  background-color: #37455d;
  color: #f9fafb;
  border-style: none;
  padding: 1.25rem 1.5rem;
  border-radius: 1.25rem;
  text-decoration: none;
  font-size: 1.125rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.15s;
}
section.two-card .option a.button:hover {
  background-color: #37455d;
}
section.two-card .option img {
  width: 16rem;
  height: 16rem;
}
@media only screen and (min-width: 768px) {
  section.two-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3rem;
    padding: 4rem;
  }
  section.two-card .option {
    width: 50%;
    height: 40rem;
    padding: 3rem;
  }
  section.two-card .option img {
    width: 23rem;
    height: 23rem;
  }
  section.two-card .option a.button {
    width: 80%;
  }
}
@media only screen and (min-width: 1335px) {
  section.two-card .option a.button {
    width: 40%;
  }
}

section.four-card {
  padding: 1rem;
}
section.four-card h2 {
  font-size: 2.5rem;
  color: #37455d;
  margin-bottom: 1.5rem;
}
section.four-card .option-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}
section.four-card .option-container .option {
  padding: 1.5rem;
  border-radius: 0.5rem;
  height: 20rem;
  width: 100%;
  filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.25));
}
section.four-card .option-container .option h3,
section.four-card .option-container .option p {
  margin-top: 1rem;
  color: #37455d;
}
section.four-card .option-container .option.yellow {
  background-color: #fcfdcc;
}
section.four-card .option-container .option.yellow .option-top {
  display: flex;
  flex-direction: row;
}
section.four-card .option-container .option.yellow .option-top h2 {
  background-color: #37455d;
  color: #fcfdcc;
  border-radius: 0.8rem;
  padding: 1.7rem;
  margin-top: -1rem;
  margin-left: -1rem;
}
section.four-card .option-container .option.yellow .option-top h3 {
  color: #37455d;
  margin-top: 1rem;
  margin-left: 1rem;
}
section.four-card .option-container .option.mint {
  background-color: #b3eada;
}
section.four-card .option-container .option.mint .option-top {
  display: flex;
  flex-direction: row;
}
section.four-card .option-container .option.mint .option-top h2 {
  background-color: #37455d;
  color: #b3eada;
  border-radius: 0.8rem;
  padding: 1.7rem;
  margin-top: -1rem;
  margin-left: -1rem;
}
section.four-card .option-container .option.mint .option-top h3 {
  color: #37455d;
  margin-top: 1rem;
  margin-left: 1rem;
}
section.four-card .option-container .option.red {
  background-color: #ffd0bc;
}
section.four-card .option-container .option.red .option-top {
  display: flex;
  flex-direction: row;
}
section.four-card .option-container .option.red .option-top h2 {
  background-color: #37455d;
  color: #ffd0bc;
  border-radius: 0.8rem;
  padding: 1.7rem;
  margin-top: -1rem;
  margin-left: -1rem;
}
section.four-card .option-container .option.red .option-top h3 {
  color: #37455d;
  margin-top: 1rem;
  margin-left: 1rem;
}
section.four-card .option-container .option.purple {
  background-color: #d9e6fb;
}
section.four-card .option-container .option.purple .option-top {
  display: flex;
  flex-direction: row;
}
section.four-card .option-container .option.purple .option-top h2 {
  background-color: #37455d;
  color: #d9e6fb;
  border-radius: 0.8rem;
  padding: 1.7rem;
  margin-top: -1rem;
  margin-left: -1rem;
}
section.four-card .option-container .option.purple .option-top h3 {
  color: #37455d;
  margin-top: 1rem;
  margin-left: 1rem;
}
@media only screen and (min-width: 768px) {
  section.four-card {
    padding: 4rem;
  }
  section.four-card h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  section.four-card .option-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3rem;
  }
  section.four-card .option-container .option {
    color: #f9fafb;
    padding: 1.5rem;
    width: 25%;
  }
}

section.update-profile-card {
  padding: 1rem;
}
section.update-profile-card .update-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0;
  background-color: #37455d;
  color: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  height: 40rem;
}
section.update-profile-card .update-container .update-image,
section.update-profile-card .update-container .update-text {
  height: 50%;
}
section.update-profile-card .update-container .update-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
section.update-profile-card .update-container .update-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0;
  padding: 1.5rem;
}
section.update-profile-card .update-container .update-text h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
section.update-profile-card .update-container .update-text p {
  font-size: 1.125rem;
  line-height: 1.5;
}
section.update-profile-card .update-container .update-text button {
  background-color: #fff;
  font-size: 1.125rem;
  border-style: none;
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
  margin-top: 1.5rem;
}
@media only screen and (min-width: 768px) {
  section.update-profile-card {
    padding: 4rem;
  }
  section.update-profile-card .update-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0;
    height: 40rem;
  }
  section.update-profile-card .update-container .update-image,
section.update-profile-card .update-container .update-text {
    width: 50%;
    height: 100%;
  }
  section.update-profile-card .update-container .update-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
    padding: 4rem;
  }
  section.update-profile-card .update-container .update-text button {
    width: 33%;
  }
}

section.review-cards {
  padding: 2.5rem;
}
section.review-cards h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
section.review-cards .review-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  padding-bottom: 10rem;
}
section.review-cards .review-container .review {
  background-color: #fff;
  position: relative;
  border-radius: 0.5rem;
  width: 100%;
}
section.review-cards .review-container .review .user-card {
  position: absolute;
  top: -1rem;
  left: -1rem;
  overflow: hidden;
  height: 10rem;
  width: 10rem;
}
section.review-cards .review-container .review .user-card .user-info {
  width: 100%;
}
section.review-cards .review-container .review .user-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 0.5rem;
}
section.review-cards .review-container .review .user-info.yellow {
  background-color: #fcfdcc;
}
section.review-cards .review-container .review .user-info.mint {
  background-color: #b3eada;
}
section.review-cards .review-container .review .user-info.red {
  background-color: #ffd0bc;
}
section.review-cards .review-container .review .user-info.purple {
  background-color: #d9e6fb;
}
section.review-cards .review-container .review .user-info {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom: 1px solid #37455d;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1rem;
  padding: 2.5rem 1rem;
}
section.review-cards .review-container .review .user-info .name,
section.review-cards .review-container .review .user-info .status {
  width: 50%;
  border-radius: 1.5rem;
  background-color: #37455d;
  padding: 0.5rem 1rem;
}
section.review-cards .review-container .review .user-info .name h2,
section.review-cards .review-container .review .user-info .status h2 {
  font-size: 1.125rem;
  color: #fff;
  text-align: center;
}
section.review-cards .review-container .review .user-content {
  padding: 1rem;
}
section.review-cards .review-container .review .user-content .review-star {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.5rem 0;
}
section.review-cards .review-container .review .user-content .review-text h2 {
  font-size: 2.5rem;
}
section.review-cards .review-container .review .user-content .review-text p {
  font-size: 1.125rem;
  text-align: left;
  line-height: 1.25;
}
section.review-cards .review-container .review .user-content .review-text .button {
  margin-top: 2rem;
  display: block;
  background-color: #37455d;
  color: #f9fafb;
  border-style: none;
  padding: 1.25rem 1.5rem;
  border-radius: 1.25rem;
  text-decoration: none;
  font-size: 1.125rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.15s;
}
section.review-cards .review-container .review .user-content .review-text .button:hover {
  background-color: #37455d;
}
section.review-cards .review-container .review-quote {
  font-size: 1rem;
}
section.review-cards .review-container p {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  section.review-cards {
    padding: 4rem;
  }
  section.review-cards h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  section.review-cards .review-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2.5rem;
  }
  section.review-cards .review-container .review {
    width: 22%;
  }
}

section.login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
  align-items: center;
}
section.login .login-container {
  width: 100%;
  padding: 4rem 1.5rem;
  border-radius: 0.5rem;
}
section.login .login-container .login-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  margin-bottom: 4rem;
}
section.login .login-container .login-intro h2 {
  font-size: 3rem;
}
section.login .login-container .login-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
section.login .login-container .login-form a {
  color: #37455d;
  text-decoration: underline;
}
section.login .login-container .login-form .button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}
section.login .login-container .login-form .button-container .button {
  background-color: #37455d;
  color: #fff;
  border-style: none;
  padding: 1.25rem 1.5rem;
  border-radius: 1.25rem;
  text-decoration: none;
  font-size: 1.125rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.15s;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.login .login-container .login-form .button-container .button:hover {
  background-color: #37455d;
}
section.login .login-container .login-form .button-container .google,
section.login .login-container .login-form .button-container .facebook {
  background-color: #fff;
  color: #000;
  border-style: none;
  padding: 1.25rem 1.5rem;
  border-radius: 1.25rem;
  text-decoration: none;
  font-size: 1.125rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.15s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  border: 1px solid #c3c1c1;
}
section.login .login-container .login-form .button-container .google:hover,
section.login .login-container .login-form .button-container .facebook:hover {
  background-color: #fff;
}
section.login .login-container .login-form p {
  text-align: center;
}
section.login .image-container {
  display: none;
}
@media only screen and (min-width: 768px) {
  section.login {
    padding: 2rem 4rem 4rem 4rem;
  }
  section.login .login-container {
    padding: 4rem 8rem;
  }
}
@media only screen and (min-width: 1335px) {
  section.login {
    max-width: 1440px;
    margin: 0 auto;
  }
  section.login .login-container {
    width: 50%;
    padding: 4rem 6rem;
  }
  section.login .image-container {
    width: 50%;
    display: block;
  }
  section.login .image-container .frame {
    height: 45rem;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
  }
  section.login .image-container .frame .text-content {
    position: absolute;
    width: 100%;
    padding: 1rem 1.5rem;
    bottom: 20%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgba(55, 69, 93, 0.5);
  }
  section.login .image-container .frame .text-content h2 {
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
  }
  section.login .image-container .frame .text-content p {
    font-size: 1.5rem;
    color: #fff;
  }
  section.login .image-container .frame .text-content span {
    color: #ef8354;
  }
  section.login .image-container .frame img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: bottom;
       object-position: bottom;
  }
}

section.register {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
  align-items: center;
}
section.register .register-container {
  width: 100%;
  padding: 4rem 1.5rem;
  border-radius: 0.5rem;
}
section.register .register-container .register-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  margin-bottom: 4rem;
}
section.register .register-container .register-intro h2 {
  font-size: 3rem;
}
section.register .register-container .register-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}
section.register .register-container .register-form a {
  color: #37455d;
  text-decoration: underline;
}
section.register .register-container .register-form .button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}
section.register .register-container .register-form .button-container .button {
  background-color: #37455d;
  color: #fff;
  border-style: none;
  padding: 1.25rem 1.5rem;
  border-radius: 1.25rem;
  text-decoration: none;
  font-size: 1.125rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.15s;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.register .register-container .register-form .button-container .button:hover {
  background-color: #37455d;
}
section.register .register-container .register-form .button-container .google,
section.register .register-container .register-form .button-container .facebook {
  background-color: #fff;
  color: #000;
  border-style: none;
  padding: 1.25rem 1.5rem;
  border-radius: 1.25rem;
  text-decoration: none;
  font-size: 1.125rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.15s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  border: 1px solid #c3c1c1;
}
section.register .register-container .register-form .button-container .google:hover,
section.register .register-container .register-form .button-container .facebook:hover {
  background-color: #fff;
}
section.register .register-container .register-form p {
  text-align: center;
}
section.register .image-container {
  display: none;
}
@media only screen and (min-width: 768px) {
  section.register {
    padding: 4rem;
  }
  section.register .register-container {
    padding: 4rem 0;
  }
  section.register .register-container .register-form form,
section.register .register-container .register-form .button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
  }
  section.register .register-container .register-form form div,
section.register .register-container .register-form form .button,
section.register .register-container .register-form .button-container div,
section.register .register-container .register-form .button-container .button {
    width: calc(50% - 1.5rem);
  }
}
@media only screen and (min-width: 1335px) {
  section.register {
    max-width: 1440px;
    margin: 0 auto;
  }
  section.register .image-container {
    width: 50%;
    display: block;
  }
  section.register .image-container .frame {
    height: 45rem;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
  }
  section.register .image-container .frame .text-content {
    position: absolute;
    width: 100%;
    padding: 2rem 1.5rem;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgba(55, 69, 93, 0.5);
  }
  section.register .image-container .frame .text-content h2 {
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
  }
  section.register .image-container .frame .text-content p {
    font-size: 1.5rem;
    color: #fff;
  }
  section.register .image-container .frame .text-content span {
    color: #ef8354;
  }
  section.register .image-container .frame img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: sans-serif;
}

body {
  background-color: #f9fafb;
  color: #37455d;
}
body main {
  padding-top: 5rem;
}
body a {
  color: #37455d;
}
body a:hover {
  text-decoration: underline;
}
body p {
  line-height: 1.25rem;
}
body input,
body textarea {
  width: 100%;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #fff;
  color: #37455d;
  border: 1px solid #37455d;
  border-radius: 1.25rem;
  outline: none;
  padding: 1rem;
  transition: opacity 0.2s;
}
body textarea {
  height: 6rem;
  resize: vertical;
}
body .form {
  margin-bottom: 1rem;
}
body input:focus {
  outline: none;
  border: 1px solid #4d90fe;
  box-shadow: 0px 0px 5px #4d90fe;
}
body label {
  font-size: 1.125rem;
  display: inline-block;
  margin-bottom: 0.5rem;
}
body .error {
  padding: 1rem 1.5rem;
  background-color: #f07070;
  color: #fff;
  border-radius: 0.5rem;
  text-align: center;
  margin: 1.5rem 0;
}
body .success {
  padding: 1rem 1.5rem;
  background-color: #70f09b;
  color: #fff;
  border-radius: 0.5rem;
  text-align: center;
  margin: 1.5rem 0;
}
