header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 5rem;
  padding: 2rem 3rem;
  background-color: #fff;
}
header nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0;
}
header nav .nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 3rem;
}

section.footer {
  padding: 1rem;
}
section.footer h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

/* section.footer-card {
    padding: 1rem;

    h1 {
        font-size: fonts.$h2;
        margin-bottom: 1.5rem;
    }
    .footer-container {
        @include mixin.flex(column, flex-start, 1rem);

        .footer-option {
            background-color: colors.$grey;
            padding: 1.5rem;
            border-radius: 0.5rem;
            height: 20rem;
            width: 100%;

            p {
                margin-top: 1rem;
            }
        }
    }

    @include media-queries.breakpoint(tablet) {
        padding: 4rem;

        h1 {
            font-size: fonts.$h1;
            margin-bottom: 3rem;
        }

        .footer-container {
            @include mixin.flex(row, flex-start, 3rem);

            .footer-option {
                background-color: colors.$grey;
                padding: 1.5rem;
                // height: 30rem;
                width: 25%;
            }
        }
    }
}
 */
.vl {
  border-left: 1px solid green;
  height: 26rem;
}

section.hero {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  gap: 0;
}
section.hero .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
  margin: 1.5rem 1rem;
}
section.hero .hero-content a {
  text-decoration: underline;
}
section.hero .hero-content .hero-text {
  background-color: #c4c4c4;
  padding: 2rem;
  border-radius: 1rem;
}
section.hero .hero-content .hero-text h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
section.hero .hero-content .hero-text p {
  margin-bottom: 1rem;
}
section.hero .hero-content .hero-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5rem;
}
section.hero .hero-content .hero-buttons .button {
  background-color: #fff;
  border-style: none;
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 1.125rem;
  text-align: center;
}
section.hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  section.hero {
    position: relative;
    top: 5rem;
    height: 80vh;
  }
  section.hero .hero-content {
    background-color: transparent;
    position: absolute;
    max-width: 40rem;
    bottom: 2rem;
    left: 2rem;
    padding: 2rem;
    margin: 0;
  }
  section.hero .hero-content .hero-text {
    background-color: #fff;
  }
  section.hero .hero-content .hero-text h1 {
    font-size: 3rem;
    margin-bottom: 1.25rem;
  }
  section.hero .hero-content .hero-text p {
    margin-bottom: 1rem;
    max-width: 80%;
  }
  section.hero .hero-content .hero-buttons {
    flex-direction: row;
  }
  section.hero .hero-content .hero-buttons .button {
    width: 50%;
    background-color: #fff;
    transition: all 0.2s;
  }
  section.hero .hero-content .hero-buttons .button:hover {
    background-color: #c4c4c4;
  }
}
section.two-card {
  /*    display: flex;
  flex-direction: row;
  gap: 3rem; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 3rem;
  padding: 10rem 4rem 0rem 4rem;
}
section.two-card .option {
  font-size: 1.5rem;
  background-color: #c4c4c4;
  padding: 1.5rem;
  border-radius: 0.5rem;
  width: 60%;
  height: 40rem;
}
section.two-card button {
  background-color: white;
  border-style: none;
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

section.four-card {
  padding: 1rem;
}
section.four-card h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
section.four-card .option-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}
section.four-card .option-container .option {
  background-color: #c4c4c4;
  padding: 1.5rem;
  border-radius: 0.5rem;
  height: 20rem;
  width: 100%;
}
section.four-card .option-container .option p {
  margin-top: 1rem;
}
@media only screen and (min-width: 768px) {
  section.four-card {
    padding: 4rem;
  }
  section.four-card h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  section.four-card .option-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3rem;
  }
  section.four-card .option-container .option {
    background-color: #c4c4c4;
    padding: 1.5rem;
    width: 25%;
  }
}

section.update-profile-card {
  padding: 1rem;
}
section.update-profile-card .update-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0;
  background-color: #c4c4c4;
  border-radius: 0.5rem;
  overflow: hidden;
  height: 40rem;
}
section.update-profile-card .update-container .update-image,
section.update-profile-card .update-container .update-text {
  height: 50%;
}
section.update-profile-card .update-container .update-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
section.update-profile-card .update-container .update-text {
  padding: 1.5rem;
}
section.update-profile-card .update-container .update-text h3 {
  margin-bottom: 1rem;
}
section.update-profile-card .update-container .update-text button {
  background-color: #fff;
  border-style: none;
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
  margin-top: 1.5rem;
}
@media only screen and (min-width: 768px) {
  section.update-profile-card {
    padding: 4rem;
  }
  section.update-profile-card .update-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0;
    height: 40rem;
  }
  section.update-profile-card .update-container .update-image,
section.update-profile-card .update-container .update-text {
    width: 50%;
    height: 100%;
  }
  section.update-profile-card .update-container .update-text {
    padding: 4rem;
  }
  section.update-profile-card .update-container .update-text button {
    width: 33%;
  }
}

section.review-cards {
  padding: 1rem;
}
section.review-cards h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
section.review-cards .review-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  padding-bottom: 10rem;
}
section.review-cards .review-container .review {
  background-color: #c4c4c4;
  padding: 1.5rem;
  border-radius: 0.5rem;
  height: 35rem;
  width: 100%;
}
section.review-cards .review-container .review h3 {
  margin-bottom: 1rem;
}
section.review-cards .review-container .review .user-card {
  overflow: hidden;
  height: 70%;
}
section.review-cards .review-container .review .user-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 0.5rem;
}
section.review-cards .review-container .review-quote {
  font-size: 1rem;
}
section.review-cards .review-container p {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  section.review-cards {
    padding: 4rem;
  }
  section.review-cards h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  section.review-cards .review-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3rem;
  }
  section.review-cards .review-container .review {
    background-color: #c4c4c4;
    padding: 1.5rem;
    width: 25%;
  }
}

section.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  align-items: center;
  padding: 1.5rem;
}
section.login .login-container {
  background-color: aliceblue;
  padding: 4rem;
  border-radius: 0.5rem;
}
section.login .login-container .login-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}
section.login .login-container .login-form a {
  color: darkblue;
}
section.login .login-container .login-form .button {
  background-color: #fff;
  border-style: none;
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 1.125rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.15s;
  margin: 1rem 0;
  width: 100%;
}
section.login .login-container .login-form .button:hover {
  background-color: #c4c4c4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: sans-serif;
}

body {
  background-color: #fff;
  color: #000;
  /* Removes autofill default styling*/
}
body main {
  padding-top: 5rem;
}
body a {
  color: #000;
}
body a:hover {
  text-decoration: underline;
}
body p {
  line-height: 1.25rem;
}
body input,
body textarea {
  width: 100%;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #fff;
  color: #000;
  border: 1px solid #c4c4c4;
  border-radius: 0.25rem;
  outline: none;
  padding: 1rem;
  transition: all 0.2s;
}
body textarea {
  height: 6rem;
  resize: vertical;
}
body .form {
  margin-bottom: 1rem;
}
body input:-webkit-autofill,
body input:-webkit-autofill:hover,
body input:-webkit-autofill:focus,
body textarea:-webkit-autofill,
body textarea:-webkit-autofill:hover,
body textarea:-webkit-autofill:focus,
body select:-webkit-autofill,
body select:-webkit-autofill:hover,
body select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #c4c4c4 inset;
}
body input:-webkit-autofill:focus {
  box-shadow: 0 0 0 1px #c4c4c4;
}
body input:focus {
  border: 1px solid #c4c4c4;
  box-shadow: 0 0 0 1px #c4c4c4;
}
body label {
  font-size: 1.125rem;
  display: inline-block;
  margin-bottom: 0.5rem;
}
