// Variables
@use "variables/colors";
@use "variables/fonts";

// Common components
@use "common/header";
@use "common/footer";
@use "common/media-queries";
@use "common/mixin";

// Pages
@use "pages/index.scss";
@use "pages/login.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    background-color: colors.$base-white;
    color: colors.$black;

    main {
        padding-top: 5rem;
    }

    a {
        color: colors.$black;
        &:hover {
            text-decoration: underline;
        }
    }

    p {
        line-height: 1.25rem;
    }

    input,
    textarea {
        width: 100%;
        font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
            Roboto, "Helvetica Neue", Arial, sans-serif;
        background-color: colors.$white;
        color: colors.$black;
        border: 1px solid colors.$grey;
        border-radius: 0.25rem;
        outline: none;
        padding: 1rem;
        transition: opacity 0.2s;
    }

    textarea {
        height: 6rem;
        resize: vertical;
    }

    .form {
        margin-bottom: 1rem;
    }

    /* Removes autofill default styling*/
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0px 1000px colors.$grey inset;
    }

    input:-webkit-autofill:focus {
        box-shadow: 0 0 0 1px colors.$grey;
    }

    input:focus {
        border: 1px solid colors.$grey;
        box-shadow: 0 0 0 1px colors.$grey;
    }

    label {
        font-size: fonts.$p;
        display: inline-block;
        margin-bottom: 0.5rem;
    }

    .error {
        padding: 1rem 1.5rem;
        background-color: rgb(240, 112, 112);
        color: colors.$white;
        border-radius: 0.5rem;
        text-align: center;
        margin: 1.5rem 0;
    }

    .success {
        padding: 1rem 1.5rem;
        background-color: rgb(112, 240, 155);
        color: colors.$white;
        border-radius: 0.5rem;
        text-align: center;
        margin: 1.5rem 0;
    }
}
