// Variables
@use "variables/colors";
@use "variables/fonts";

// Common components
@use "common/header";
@use "common/footer";
@use "common/media-queries";
@use "common/mixin";

// Pages
@use "./index.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    background-color: colors.$white;
    color: colors.$black;

    main {
        padding-top: 5rem;
    }

    a {
        color: colors.$black;
        &:hover {
            text-decoration: underline;
        }
    }
}
