// Variables
@use "variables/colors";
@use "variables/fonts";

// Common components
@use "common/header";
@use "common/footer";
@use "common/media-queries";
@use "common/mixin";

// Pages
@use "pages/index.scss";
@use "pages/login.scss";
@use "pages/register.scss";
@use "pages/ad.scss";
@use "pages/preview.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
}

html {
    background-color: colors.$blue;
}

body {
    background-color: colors.$base-white;
    color: colors.$blue;
    font-size: fonts.$p;

    main {
        padding-top: 7rem;
    }

    a {
        color: colors.$blue;
        &:hover {
            text-decoration: underline;
        }
    }

    p {
        line-height: 1.5rem;
    }

    .hidden {
        display: none;
    }

    span.helper {
        font-size: 0.875rem;
    }

    input,
    textarea {
        width: 100%;
        font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
            Roboto, "Helvetica Neue", Arial, sans-serif;
        background-color: colors.$white;
        color: colors.$blue;
        border: 1px solid colors.$blue;
        border-radius: 1.25rem;
        outline: none;
        padding: 1rem;
    }

    textarea {
        height: 6rem;
        resize: vertical;
    }

    .form {
        margin-bottom: 1rem;
    }

    // Chrome default styling
    input:focus {
        outline: none;
        border: 1px solid #4d90fe;
        -webkit-box-shadow: 0px 0px 5px #4d90fe;
        box-shadow: 0px 0px 5px #4d90fe;
    }

    label {
        font-size: fonts.$p;
        display: inline-block;
        margin-bottom: 0.5rem;
    }

    .error {
        padding: 1rem 1.5rem;
        background-color: rgb(240, 112, 112);
        color: colors.$white;
        border-radius: 0.5rem;
        text-align: center;
        margin: 1.5rem 0;
    }
}
