// Variables
@use "variables/colors";
@use "variables/fonts";

// Common components
@use "common/header";
@use "common/footer";
@use "common/media-queries";

section.hero {
    display: flex;
    flex-direction: column-reverse;
    // height: 80vh;

    .hero-content {
        position: none;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        /*         background-color: colors.$grey;
 */
        padding: 1.5rem;
        margin: 1.5rem 1rem;

        .hero-text {
            background-color: colors.$white;
            padding: 2rem;
            border-radius: 1rem;

            h1 {
                font-size: 2rem;
                margin-bottom: 1.5rem;
            }

            p {
                margin-bottom: 1rem;
            }
        }

        a {
            text-decoration: underline;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center bottom;
        overflow: hidden;
    }

    .hero-buttons {
        display: flex;
        flex-direction: row;
        gap: 1rem;

        button {
            background-color: white;
            border-style: none;
            padding: 1rem 1.25rem;
            border-radius: 0.5rem;
        }
    }

    @include media-queries.breakpoint(tablet) {
        position: relative;
        top: 5rem;
        height: 80vh;

        .hero-content {
            position: absolute;
            max-width: 40rem;
            bottom: 2rem;
            left: 2rem;
            padding: 2rem;
            margin: 0;

            h1 {
                font-size: fonts.$h1;
                margin-bottom: 1.25rem;
            }

            p {
                margin-bottom: 1rem;
                max-width: 80%;
            }
        }
    }

    @include media-queries.breakpoint(desktop) {
    }
}
