// Colors
$black: #000;
$white: #fff;
$base-white: #f9fafb;
$grey: #c4c4c4;
$dark-grey: #a1a1a1;
$light-grey: #c3c1c1;

//base-w with opacity
$base-white-opacity: #f9fafbeb;

$blue: #37455d;
$skyblue: #d9e6fb;
$turquoise: #7ae7c7;
$orange: #ef8354;
$pink: #ffeef2;
$yellow: #fcfdcc;
$mint: #b3eada;
$red: #ffd0bc;
$purple: #d9e6fb;
