// Variables
@use "../variables/colors";
@use "../variables/fonts";
@use "../common/media-queries";

// Mixin
@use "./mixin";

section.footer {
    padding-top: 2rem;
    background-color: colors.$grey;
    display: flex;
    justify-content: center;

    h2 {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }

    .footer-container {
        @include mixin.flex(column, flex-start, 1rem);

        .footer-start {
            width: 20rem;

            .socials {
                margin-top: 4rem;
                width: 70%;
                display: flex;
                justify-content: space-between;

                svg {
                    fill: white;
                }
            }
        }

        .footer-option {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 2rem;

            h4 {
                margin-bottom: 1rem;
            }

            p {
                text-align: center;
            }
        }
    }

    @include media-queries.breakpoint(tablet) {
        padding: 3rem;

        .footer-container {
            @include mixin.flex(row, flex-start, 3rem);

            .socials {
                row-gap: 2rem;
            }

            h4 {
                margin-bottom: 2rem;
            }
            .footer-option {
                gap: 1.5rem;
            }
        }

        .vl {
            border-left: 1px solid rgb(255, 255, 255);
            height: 20rem;
        }
    }
}
