// Variables
@use "../variables/colors";
@use "../variables/fonts";
@use "../common/media-queries";

// Mixin
@use "./mixin";

section.footer {
    background-color: colors.$blue;
    color: colors.$base-white;

    h2 {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }

    a {
        color: colors.$base-white;
    }

    p {
        line-height: 1.5;
    }

    .footer-container {
        @include mixin.flex(flex, column, flex-start, 1rem);
        padding: 2rem 1rem 4rem 1rem;

        .footer-start {
            width: 20rem;

            .socials {
                margin: 4rem 0;
                width: 70%;
                display: flex;
                justify-content: space-between;

                svg {
                    fill: colors.$base-white;
                }
            }
        }

        .footer-option {
            @include mixin.flex(flex, column, flex-start, 1rem);

            h4 {
                margin-bottom: 1rem;
            }

            p {
                text-align: center;
            }
        }
    }

    @media only screen and (min-width: 1100px) {
        .footer-container {
            @include mixin.max-width();
            padding: 4rem;
            @include mixin.flex(flex, row, space-between, 0);

            h4 {
                margin-bottom: 2rem;
            }
            .footer-option {
                gap: 1.5rem;
            }

            .footer-start {
                width: 20rem;

                .socials {
                    margin: 4rem 0 0 0;
                }
            }
        }

        .vl {
            border-left: 1px solid colors.$base-white;
            height: 20rem;
        }
    }
}
