// Variables
@use "../variables/colors";
@use "../variables/fonts";
@use "../common/media-queries";

// Mixin
@use "./mixin";

// Keyframe
@keyframes hideMessage {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-4rem);
    }
}

header {
    position: fixed;
    z-index: 1;
    width: 100%;

    nav.menu-hamburger {
        position: fixed;
        top: 4rem;
        right: 0;
        width: 100vw;
        height: 100vh;
        background-color: colors.$blue;
        transform: translateX(100%);
        transition: transform 0.5s;

        &.open {
            transform: translateX(0);
        }

        &.hide {
            transform: translateX(100%);
        }

        .menu-item {
            width: 100%;

            @include mixin.flex(flex, column, flex-start, 2rem);
            align-items: flex-end;
            padding: 4rem 1.5rem 1.5rem 1.5rem;

            .search-mobile {
                width: 100%;

                input {
                    background-image: url(../../../public/images/search.svg);
                    background-repeat: no-repeat;
                    background-position: left 1rem center;
                    background-size: 1.5rem;
                    padding-left: 3rem;

                    border-radius: 0.5rem;
                }
            }

            a {
                color: colors.$white;
                font-size: fonts.$h3;
                text-transform: uppercase;
            }
        }

        @media only screen and (min-width: 1260px) {
            display: none;
            &.open {
                display: none;
            }
        }
        nav {
            position: relative;
            .menu-toggle {
                display: none;
            }
        }
    }

    .nav-container {
        background-color: colors.$blue;
        box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.04);
        z-index: 2;

        nav {
            width: 100%;
            height: auto;
            @include mixin.flex(flex, row, space-between, 0);
            align-items: center;

            .logo {
                color: colors.$white;
                padding: 1.5rem 0 1.5rem 1.5rem;

                .desktop-logo,
                .mobile-logo {
                    height: 3rem;
                }

                .desktop-logo {
                    display: none;
                }

                @media only screen and (min-width: 1260px) {
                    .mobile-logo {
                        display: none;
                    }

                    .desktop-logo {
                        display: block;
                    }
                }

                // svg {
                //     width: auto;
                //     height: 3rem;

                //     .kollektiva {
                //         display: none;
                //     }

                //     @media only screen and (min-width: 1100px) {
                //         width: 100%;

                //         .kollektiva {
                //             display: block;
                //         }
                //     }
                // }
            }

            .menu-toggle {
                padding: 1.5rem 1.5rem 1.5rem 0;
                svg {
                    stroke: colors.$base-white;
                    width: 1.5em;
                }
            }

            .nav-menu {
                @include mixin.flex(none, row, center, 3rem);
                align-items: center;

                .nav-items {
                    color: colors.$white;
                }

                .search {
                    display: none;
                }
            }
            .login-container {
                display: none;
            }
        }

        @media only screen and (min-width: 1260px) {
            nav {
                position: relative;
                .menu-toggle {
                    display: none;
                }

                .logo {
                    padding: 1.5rem 0 1.5rem 4rem;
                }

                .nav {
                    // position: relative;
                    display: flex;
                    flex-direction: row;

                    .nav-menu {
                        margin-right: 12rem;
                        padding: 2rem 3rem;
                        display: block;
                        @include mixin.flex(flex, row, flex-end, 0);

                        .link {
                            padding: 1rem 2rem;
                            border-left: 1px solid colors.$turquoise;
                        }
                        .link-last {
                            padding: 1rem 2rem;
                            margin-right: 2rem;
                            border-left: 1px solid colors.$turquoise;
                            border-right: 1px solid colors.$turquoise;
                        }

                        .search {
                            display: block;
                            width: 16rem;

                            input {
                                background-image: url(../../../public/images/search.svg);
                                background-repeat: no-repeat;
                                background-position: left 5% center;
                                background-size: 1.5rem;
                                padding-left: 2.5rem;

                                border-radius: 0.5rem;
                            }
                        }
                    }

                    .login-container {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 12rem;
                        height: 9rem;
                        background-color: colors.$skyblue;
                        padding: 1rem;

                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                        border-bottom-left-radius: 1.5rem;
                        border-bottom-right-radius: 1.5rem;
                    }
                }
            }
            .link-user {
                position: absolute;
                top: 0;
                right: 0;
                display: block;
                padding: 1rem 2rem;
                margin-left: 2rem;
                height: 120px;
                background-color: colors.$skyblue;

                a {
                    display: block;
                    margin: 2rem 0;
                }
            }
        }
    }
    .success {
        position: absolute;
        top: 7rem;
        z-index: -1;
        width: 100%;
        height: 4rem;
        background-color: colors.$mint;

        @include mixin.flex(flex, column, center, 0);

        animation: hideMessage 1s ease-in;
        animation-delay: 3s;
        animation-fill-mode: forwards;

        p {
            color: colors.$blue;
            text-align: center;
            padding: 1rem;
        }
    }
}
