@use "../variables/colors";
@use "../variables/fonts";

@mixin flex($flex, $direction, $justifyContent, $gap) {
    display: $flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
    gap: $gap;
}

@mixin max-width() {
    max-width: 1568px;
    margin: 0 auto;
}

@mixin button($color, $hoverColor, $textColor) {
    background-color: $color;
    color: $textColor;
    border-style: none;
    padding: 1.25rem 1.5rem;
    border-radius: 1.25rem;
    text-decoration: none;
    font-size: fonts.$p;
    text-align: center;
    cursor: pointer;

    &:hover {
        background-color: $hoverColor;
    }
}
